# Code 1
- Build Pipeline
- If Then Model
- Submission

## Import Libraries

In [2]:
import pandas as pd

## Import Data

In [3]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

## Check Train Data

In [18]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [19]:
# Convert Load_Status (Y/N) to  (1/0)
train['Loan_Status'] = train['Loan_Status'].apply(lambda x : 1 if x == 'Y' else 0)

In [20]:
train.describe(include='all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614.000000
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,NaN
top,LP002197,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,NaN
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,0.687296
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,0.463973
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,1.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,1.000000

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

## Check Test Data

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

## Explore Married Variable 
- We can use others. However for this example we will use "Married"

In [25]:
train.groupby('Married').sum()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
Married,,,,,,
No,1058692,280427.000000,26550.0,73032.0,167.0,134
Yes,2240411,714263.919989,59808.0,131088.0,305.0,285

In [27]:
print(f" Probability of a Married Customer getting a Loan : {285/len(train):0.1%}")
print(f" Probability of a Not Married Customer to getting a Loan : {134/len(train):0.1%}")

 Probability of a Married Customer getting a Loan : 46.4%
 Probability of a Not Married Customer to getting a Loan : 21.8%

### Observation
- Graduate's have a higher probability of getting a Loan

In [28]:
train['Prediction'] = train['Married'].apply(lambda x : 1 if x == 'Yes' else 0)

## Check Accuracy of Model on Train Data

In [29]:
train.groupby('Married').sum()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Prediction
Married,,,,,,,
No,1058692,280427.000000,26550.0,73032.0,167.0,134,0
Yes,2240411,714263.919989,59808.0,131088.0,305.0,285,398

### We can use a Accuracy Function from Metrics

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
y_true = train['Loan_Status']
y_pred = train['Prediction']

In [32]:
print(f" Train Accuracy : {accuracy_score(y_true, y_pred):0.1%}")

 Train Accuracy : 59.3%

## Lets Predict using Test Data

In [33]:
test['Loan_Status_Pred'] = test['Married'].apply(lambda x : 1 if x == 'Yes' else 0)

In [34]:
test.groupby('Married').sum()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status_Pred
Married,,,,,,
No,599528,196917,16294.0,45114.0,96.0,0
Yes,1164127,379118,32986.0,78542.0,183.0,0

In [39]:
# We will use (Y/N) to match it to the Competition Submission Data
test['Loan_Status_Pred'] = test['Married'].apply(lambda x : 'Y' if x == 'Yes' else "N")

In [40]:
test['Loan_Status_Pred'].value_counts()

Y    233
N    134
Name: Loan_Status_Pred, dtype: int64

## Create Submission File

In [41]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

In [42]:
submission = pd.DataFrame({
    'Loan_ID' : test['Loan_ID'],
    'Loan_Status' : test['Loan_Status_Pred']
})

## Export Submission File

In [43]:
submission.to_csv('ouput/O1_If_then.csv', index = False)

In [ ]:
# LB Accuracy : 0.6458